form{
    position: fixed;
    top: 5%;
    border: 1px solid rgb(228, 236, 255);
    background: #d7e3e8;
    border-radius: 10px;
    padding: 20px;
    font-family: '微软雅黑';
    color:#333;
}


form span.txt{
	width: 100px;
	text-align: right;
	height: 30px;
	line-height: 30px;
    margin-top: 25px;
    font-size:16px;
}

form input.input{
	width: 200px;
	height: 35px;
	border-radius: 5px;
}

form input.btn{
	width: 115px;
	height: 40px;
    margin-top: 35px;
	border-radius: 5px;
    font-size:18px;
}

#loginBtn{	
    background: #2196F3;
    color: #eee;
    margin-left: 30px;
}

#registerBtn{	
    background: #FF9800;
    color: #eee;
    margin-left: 10px;
}